<div >
<div>
    <div  *ngIf="!alreadyAccount" class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Seller Sign-Up</h2>
                <div class="alert alert-success" *ngIf="signupSuccess">
                    Sign-up successful! Please log in.
                </div>
                <form [formGroup]="signupform" (ngSubmit)="signUp(signupform.value)">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" id="username" formControlName="username" class="form-control" placeholder="Enter your username">
                        <div *ngIf="signupform.get('username')?.touched && signupform.get('username')?.invalid" class="text-danger">
                            Username is required.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your email">
                        <div *ngIf="signupform.get('email')?.touched && signupform.get('email')?.invalid" class="text-danger">
                            Email is required.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter your password">
                        <div *ngIf="signupform.get('password')?.touched && signupform.get('password')?.invalid" class="text-danger">
                            Password is required.
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary w-100" [disabled]="signupform.invalid">Sign-Up</button>
                    <a class="btn btn-link text-primary p-0 m-0" (click)="OpenLogin()">Already have account? Click On Login</a>
                </form>
            </div>
        </div>
    </div>
    
    <div *ngIf="alreadyAccount" class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">LOGIN</h2>
                <div class="alert alert-danger" *ngIf="authError">
                    {{ authError }}
                  </div> 
                <form [formGroup]="loginform" (ngSubmit)="login(loginform.value)">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your email">
                        <div *ngIf="loginform.get('email')?.touched && loginform.get('email')?.invalid" class="text-danger">Email is required !!</div>
                    </div>
    
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter your password">
                         <div *ngIf="loginform.get('password')?.touched && loginform.get('password')?.invalid" class="text-danger">Password is required !!</div>

                    </div>
    
                    <button type="submit" class="btn btn-primary w-100">LOG IN</button>
                    <a class="btn btn-link text-primary p-0 m-0" (click)="openSignup()">Don't have an account? Click on Sign-up</a>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
